.dashboard-layout {
  padding: 1.5rem;
  background-color: #f4f6f8;
}

.main-content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  align-items: start;
}

.charts-column {
  display: flex;
  flex-direction: column;
}

.chart-card {
  border-radius: 15px;
  background: white;
}

.table-column {
  height: 100%;
}

.full-height-card {
  height: 100%;
  border-radius: 15px;
}

:deep(.date-select) {
  max-width: 250px;
  margin-top: 1%;
}
@media (max-width: 1024px) {
  .main-content-grid {
    grid-template-columns: 1fr;
  }
}

.search-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}